@import './variables';
@import './mixins';

.Board {
	text-align: center;
}

.Board__content {
	@include segment();
}

.Board__row {
	margin: 0;
	padding: 0;
	display: flex;
	-webkit-flex-flow: row;
	justify-content: center;
}

.Space {
	position: relative;
	height: auto;
	margin: 3px;
	flex: 1 0 auto;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	cursor: pointer;

	transition: box-shadow, border, background-color;
	transition-duration: 0.5s, 0.5s, 0.25s;
	transition-delay: 0s, 0s, 0s;
	transition-timing-function: ease;

	@media (min-width: $break-md) {
		margin: 5px;
	}

	&::before {
		content: '';
		float: left;
		padding-bottom: 100%;
	}

	&:hover:not(.Space--hasBeenPlayed):not(.Space--isLocked) {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.Space--hasBeenPlayed {
	cursor: default;
	box-shadow: inset 0 0 50px 0 $color-black-light;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.Space--isLocked {
	cursor: default;
}